@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
	font-family: Lato;
	font-size: 16px;
}
.wrapper {
	max-width: 815px;
	margin: 0 auto;
}
h1 {
	font-weight: 900;
	font-size: 46px;
}
img {
	margin: 0 0 60px 0;
}
.bold {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 24px 0;
}
.normal {
	color: rgba(66, 69, 81, 1);
	line-height: 1.6;
	margin: 0 0 48px 0;
}
.normal_1 {
	margin: 0 0 20px 0;
}
.bold_2 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 48px 0;
}
ul {
	color: rgba(66, 69, 81, 1);
	margin: 0 0 74px 0;
}
.normal_list {
	margin: 0 0 24px 0;
}
ul > li {
	line-height: 1.6;
}
